@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.dropdown {
    margin: 0px;
    position: relative;
}
nav {
    height: 60px;
    background: black;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
nav a.logo {
    float: right;
    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}
nav a.logo span{
    color: red;
}
nav ul {
    padding: 0px;
    margin: 0px;
    float: left;
}

nav ul li {
    background: black;
    position: relative;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
}

nav ul li a:hover {
    background: red;
}
nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    width: 160px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a:hover {
    background: red;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 160px;
    background: black;
}

nav ul ul ul li a:hover {
    background: red;
}

.main {
  height: 100%;
    width: 100%;
    margin-top: -100px;
    background-size: cover;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
    background-position: center;
    min-height: 2950px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(index.jpg);
  }
 .main img{
    
    height: 300px;
    width: 750px;
    top: 100px;
    margin-left: 280px;
    border: 2px solid black;
 }
 .btn{
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
 }
 .btn a{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 50%;
    font-size: 30px;
    text-transform: uppercase; 
    margin-right: 10px;
    border-color: white;
    border-radius: 6px;
    color: black;
 }
  .btn1{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    min-height: 50px;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase; 
    border-color: orangered;
    border-radius: 6px;
    margin-right: 20px; 
    margin-left: 10px;
  }
 
.btn1:hover{
    background-color: orangered;
    border-color: orangered;
    cursor: pointer;
}
  .btn2{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    border-color: white;
    border-radius: 6px;
    right: 10px;
    margin-right: 10px;
    
  }
  
.btn2:hover{
    cursor: pointer;
    background-color: orangered;
    border-color: orangered;
}
.main .social{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .social a{
    text-decoration: none;
   }
   .social img{
    width: 45px;
    height: 40px;
    margin: 10px;
    align-items: center;
    margin-top: 50px;
    border-radius: 12px;
    border: none;
   }
   .social a:hover{
    cursor: pointer;
   }
   .container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 430px;
    margin-top: 5px;
  }
  .container .post{
    display: none;
    margin-top: 100px;
  }
  .container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
    margin-bottom: 100px;
  }
  .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .container .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
  }
  input:checked ~ label{
    color: #fd4;
  }
  input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  #rate-1:checked ~ form header:before{
    content: "I just hate it ";
  }
  #rate-2:checked ~ form header:before{
    content: "I don't like it ";
  }
  #rate-3:checked ~ form header:before{
    content: "It is awesome ";
  }
  #rate-4:checked ~ form header:before{
    content: "I just like it ";
  }
  #rate-5:checked ~ form header:before{
    content: "I just love it ";
  }
  .container form{
    display: block;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  .textarea textarea:focus{
    border-color: #444;
  }
  form .btn3{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn3 button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn3 button:hover{
    background: #1b1b1b;
  }